/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2016, 6:18:45 AM
    Author     : XtriMzZ <aoadegbite@gmail.com>
*/
/* 
color usage:
1. dark grenish : #008080
2. lit blueish  : #CCFFE5
3. lited green  : #00FF80
4. darker blac  : #323232
5.gray blac     : #C8C8C8

*/

body
{
    position: relative;
    background: #323232;
    
}

#doclist li a, .navbar, navbar-nav
{
    display: inline-block;
    padding: 2px;
    width: 110px;
    border-radius:0;
}
.navbar-default
{
    background: transparent;
    border-color: transparent; 
}

.navbar-default .navbar-nav>li>a{color: #00ff80; font-size: 12px;}
.navbar-default .navbar-nav>li>a:hover {color: #ccffe5}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
{
    
    background: #c8c8c8;
    color: white;
}

.navbar-brand  img{ width: 50px; height:50px}

.panel
{
    background: white;
}
.panel-heading, .panel-body, .panel-footer
{
    color: #323232;
}

/* The side navigation menu */
        .sidenav {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1000; /* Stay on top */
            top: 0;
            left: 0;
            background-color: #111; /* Black*/
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 60px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }

        /* The navigation menu links */
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover, .offcanvas a:focus{
            color: #f1f1f1;
        }

/* Position and style the close button (top right corner) */
.closebtn, .openbtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px !important;
/*    margin-left: 50px;*/
    margin-top: 200px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main, #btnNav {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}